.searchable-item{
  border: 3px solid grey;
  padding: 0 0 0 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.searchable-item__top-rated{
  background-color: khaki;
}

.searchable-item__content__header{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.searchable-item__content__header__title{
  width: 60%;
  margin-right: 10px;
  margin-top: 10px
}

.searchable-item__content__header__top-rated{
  color: gold;
}

.searchable-item__content__header__date{
  margin-left: 10%;
  width: 10%;
}

.searchable-item__content__description{
  margin: 0;
}

.searchable-item__content{
  width: 80%;
}

.searchable-item__actions{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
  
  width: 15%;
}

.searchable-item__button{
  width: 100%;
  margin-bottom: 10px
}