<div class="searchable-item" [appFreshItem]="searchableItem.creationDate" [ngClass]="{'searchable-item__top-rated': searchableItem.topRated}">
  <div class="searchable-item__content">
    <div class="searchable-item__content__header">
      <h3 class="searchable-item__content__header__title">{{searchableItem.title | uppercase}}</h3>
      <p class="searchable-item__content__header__additional-info">{{searchableItem.duration | duration}}</p>
      <p class="searchable-item__content__header__date">{{searchableItem.creationDate | date:'dd-MM-yyyy'}}</p>
      <i *ngIf="searchableItem.topRated" class="material-icons searchable-item__content__header__top-rated">star</i>
    </div>

    <p class="searchable-item__content__description">{{searchableItem.description}}</p>
  </div>

  <div class="searchable-item__actions">
    <button type="button" class="button searchable-item__button">Edit {{itemTitle}}</button>
    <button type="button" class="button searchable-item__button" (click)="deleteItem(searchableItem)">Delete</button>
  </div>
</div>
