<form novalidate [formGroup]="courseForm" (ngSubmit)="onSubmit(courseForm)" class="course__form">
  <div class="course__form__form-group">
    <label class="course__form__label" for="title">Title</label>
    <input class="course__form__input" type="text" formControlName="title" [ngClass]="{'course__form__control-error':!courseForm.controls['title'].valid && courseForm.controls['title'].touched}"/>
  </div>
  <div class="course__form__error" *ngIf="courseForm.controls['title'].hasError('required') && courseForm.controls['title'].touched">
    Title is required.
  </div>
  <div class="course__form__error" *ngIf="courseForm.controls['title'].hasError('maxlength') && courseForm.controls['title'].touched">
    Title must be less than 50 characters.
  </div>

  <div class="course__form__form-group">
    <label class="course__form__label" for="description">Description</label>
    <textarea class="course__form__input" formControlName="description" [ngClass]="{'course__form__control-error':!courseForm.controls['description'].valid && courseForm.controls['description'].touched}"></textarea>
  </div>
  <div class="course__form__error" *ngIf="courseForm.controls['description'].hasError('required') && courseForm.controls['description'].touched">
    Description is required.
  </div>
  <div class="course__form__error" *ngIf="courseForm.controls['description'].hasError('maxlength') && courseForm.controls['description'].touched">
    Description must be less than 500 characters.
  </div>

  <div class="course__form__form-group">
    <label class="course__form__label" for="date">Date</label>
    <app-date-input formControlName="date" [ngClass]="{'course__form__control-error':!courseForm.controls['date'].valid && courseForm.controls['date'].touched}"></app-date-input>
  </div>
  <div class="course__form__error" *ngIf="courseForm.controls['date'].hasError('required') && courseForm.controls['date'].touched">
    Date is required.
  </div>
  <div class="course__form__error" *ngIf="courseForm.controls['date'].hasError('validateDateFormat') && courseForm.controls['date'].touched">
    Date has invalid format (must be in DD/MM/YYYY format).
  </div>

  <div class="course__form__form-group">
    <label class="course__form__label" for="duration">Duration</label>
    <app-duration-input [duration]="courseForm.duration"></app-duration-input>
  </div>
  <aside class="course__form__error" *ngIf="!courseForm.controls['duration'].valid && courseForm.controls['duration'].touched">
    Duration is required.
  </aside>

  <div class="course__form__form-group">
    <label class="course__form__label" for="authors">Authors</label>
    <app-picker></app-picker>
  </div>
  <aside class="course__form__error" *ngIf="!courseForm.controls['authors'].valid && courseForm.controls['authors'].touched">
    At least one author should be selected.
  </aside>

  <div class="form__buttons">
    <button type="submit" class="button__form">Submit</button>
    <button type="button" class="button__form" (click)="cancel()">Cancel</button>
  </div>
</form>
