<div class="login-form__container">
  <form method="post">
    <div class="login-form__form-group">
      <label for="Login" class="login-from__label">Login:</label>
      <input class="login-form__input" name="Login" />
    </div>

    <div class="login-form__form-group">
      <label for="Password" class="login-from__label">Password:</label>
      <input class="login-form__input" name="Password" />
    </div>

    <input class="login-form__submit-button" type="button" value="Enter" />
  </form>
</div>