.header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.header__logo{
  width: 35px;
  display: grid;
  margin: 0 10px;
}

.header__logo__image{
  width: 100%;
  height: auto;
  align-self: center;
}

.header__page-name{
  align-self: center;
}

.header__account{
margin-left: auto;

  display: flex;
  flex-direction: column;

  text-align: right;
}