.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.header__logo {
  width: 35px;
  display: grid;
  margin: 0 10px 0 18%;
}

.header__logo__image {
  width: 100%;
  height: auto;
  align-self: center;
}

.header__app-name {
  align-self: center;
}

.header__account {
  margin-left: auto;
  margin-right: 18%;
  display: flex;
  flex-direction: column;

  align-self: center;
  text-align: right;

  font-style: italic;
  line-height: 0.5em;
}
