.button{
  border: 1px groove blue;
  background-color: aliceblue;
  font-size: 12px;
  padding: 5px 10px;
  width: 100%;
}

.button:hover{
  cursor: pointer;
}

html{
  background-color: rgb(230, 228, 228);
}

.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
  background-color: #019ad2;
}

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.dark-backdrop {
    background: #000;
    opacity: 0.85 !important;
}